div {
    border: 2px solid black;
    margin: 10px 0px 20px 0px;
    padding: 5px 10px 5px 10px;
}

.fixed {
    width: 300px;
}

.percentage {
    width: 50%;
}

.viewport {
    width: 50vw;
}

.min-max-width {
    min-width: 100px;
    max-width: 300px;
}